In [1]:
import googlemaps
import pandas as pd

In [2]:
my_key="AIzaSyCAVzh-NBCfsUBwgyhxdk1S60wCg8vfKLA"

- googlemaps 객체 생성

In [3]:
maps=googlemaps.Client(key=my_key)

In [4]:
lat=[] #위도
lng=[] #경도

- 장소/주소 리스트

In [5]:
places=["서울시청", "국립국악원", "해운대해수욕장", "제주도", "독도", "London", '울릉도']
places

['서울시청', '국립국악원', '해운대해수욕장', '제주도', '독도', 'London', '울릉도']

In [6]:
i=0
for place in places:
    i=i+1
    try:
        print(i, place)
        
    #지오코딩 API 결과값 호출하여 geo_location변수에 저장
        geo_location=maps.geocode(place)[0].get('geometry')
        lat.append(geo_location['location']['lat'])
        lng.append(geo_location['location']['lng'])
        
    except:
        lat.append('')
        lng.append('')
        print(i)

#데이터프레임으로 변환하기
df=pd.DataFrame({'위도':lat, '경도':lng}, index=places)

1 서울시청
1
2 국립국악원
2
3 해운대해수욕장
3
4 제주도
4
5 독도
5
6 London
6
7 울릉도
7

## Folium라이브러리를 이용하여 지도 시각화

In [7]:
import folium

In [8]:
#서울지도 만들기
seoul_map=folium.Map(location=[37.55, 126.98], zoom_start=12)

In [9]:
#지도를 HTML 파일로 저장하기
seoul_map.save('seoul.html')

#웹브라우저로 열기
import webbrowser
url="seoul.html"
webbrowser.open(url)

True

In [10]:
import pandas as pd
import folium
import webbrowser

#대학교 리스트를 데이터프레임 변환(에러 발생시 xlrd 모듈 설치)
df=pd.read_excel('서울지역 대학교 위치.xlsx')
df.columns=['collage', '위도', '경도']
df.head()

        collage         위도          경도
0  KAIST 서울캠퍼스   37.592573  127.046737
1         KC대학교  37.548345  126.854797
2  가톨릭대학교(성신교정)  37.585922  127.004328
3  가톨릭대학교(성의교정)  37.499623  127.006065
4      감리교신학대학교  37.567645  126.961610

- 서울 지도 만들기

In [11]:
seoul_map=folium.Map(location=[33.55, 126.98], zoom_start=12, tiles='Stamen Terrain')

- 대학교 위치정보를 Marker로 표시

In [12]:
for name, lat, lng in zip(df.collage, df.위도, df.경도):
    folium.Marker([lat, lng], popup=name).add_to(seoul_map)

- 지도를 HTML 파일로 저장

In [13]:
seoul_collage='seoul_colleges.html'
seoul_map.save(seoul_collage)

In [14]:
#웹브라우저로 지도 출력
webbrowser.open(seoul_collage)

True

## 지도에 마크찍기

In [15]:
import pandas as pd
import folium
import webbrowser

#대학교 리스트를 데이터프레임 변환(에러 발생시 xlrd 모듈 설치)
df=pd.read_excel('서울지역 대학교 위치.xlsx')
df.columns=['collage', '위도', '경도']
df.head()

#서울지도
seoul_map = folium.Map(location=[37.55, 126.98], tiles='Stamen Terrain', zoom_start=12)

In [16]:
for name, lat, lng in zip(df.collage, df.위도, df.경도):
    folium.CircleMarker([lat, lng], radius=10, color='brown', fill=True, fill_color='coral', fill_opacity=0.3, popup=name).add_to(seoul_map)

- 지도를 HTML 파일로 저장

In [17]:
seoul_collage2='seoul_colleges2.html'
seoul_map.save(seoul_collage2)

webbrowser.open(seoul_collage2)

True